@import "~normalize.css";
@import"about.scss";
@import"skills.scss";
@import"projects.scss";
@import "contact.scss";
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}